<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eltrend.american">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyEnglish">
        <activity android:name="com.eltrend.american.Phone"></activity>
        <activity android:name="com.eltrend.american.Determine" />
        <activity android:name="com.eltrend.american.level16U16Audios" />
        <activity android:name="com.eltrend.american.level16U15Audios" />
        <activity android:name="com.eltrend.american.level16U14Audios" />
        <activity android:name="com.eltrend.american.level16U13Audios" />
        <activity android:name="com.eltrend.american.level15U12Audios" />
        <activity android:name="com.eltrend.american.level15U11Audios" />
        <activity android:name="com.eltrend.american.level15U10Audios" />
        <activity android:name="com.eltrend.american.level15U9Audios" />
        <activity android:name="com.eltrend.american.level14U8Audios" />
        <activity android:name="com.eltrend.american.level14U7Audios" />
        <activity android:name="com.eltrend.american.level14U6Audios" />
        <activity android:name="com.eltrend.american.level14U5Audios" />
        <activity android:name="com.eltrend.american.level13U4Audios" />
        <activity android:name="com.eltrend.american.level13U3Audios" />
        <activity android:name="com.eltrend.american.level13U2Audios" />
        <activity android:name="com.eltrend.american.level13U1Audios" />
        <activity android:name="com.eltrend.american.level12U16Audios" />
        <activity android:name="com.eltrend.american.level12U15Audios" />
        <activity android:name="com.eltrend.american.level12U14Audios" />
        <activity android:name="com.eltrend.american.level12U13Audios" />
        <activity android:name="com.eltrend.american.level11U12Audios" />
        <activity android:name="com.eltrend.american.level11U11Audios" />
        <activity android:name="com.eltrend.american.level11U10Audios" />
        <activity android:name="com.eltrend.american.level11U9Audios" />
        <activity android:name="com.eltrend.american.level10U8Audios" />
        <activity android:name="com.eltrend.american.level10U7Audios" />
        <activity android:name="com.eltrend.american.level10U6Audios" />
        <activity android:name="com.eltrend.american.level10U5Audios" />
        <activity android:name="com.eltrend.american.level9U4Audios" />
        <activity android:name="com.eltrend.american.level9U3Audios" />
        <activity android:name="com.eltrend.american.level9U2Audios" />
        <activity android:name="com.eltrend.american.level9U1Audios" />
        <activity android:name="com.eltrend.american.level1U4Audios" />
        <activity android:name="com.eltrend.american.level8U16Audios" />
        <activity android:name="com.eltrend.american.level8U15Audios" />
        <activity android:name="com.eltrend.american.level8U14Audios" />
        <activity android:name="com.eltrend.american.level8U13Audios" />
        <activity android:name="com.eltrend.american.level7U12Audios" />
        <activity android:name="com.eltrend.american.level7U11Audios" />
        <activity android:name="com.eltrend.american.level7U10Audios" />
        <activity android:name="com.eltrend.american.level7U9Audios" />
        <activity android:name="com.eltrend.american.level6U8Audios" />
        <activity android:name="com.eltrend.american.level6U7Audios" />
        <activity android:name="com.eltrend.american.level6U6Audios" />
        <activity android:name="com.eltrend.american.level6U5Audios" />
        <activity android:name="com.eltrend.american.level5U4Audios" />
        <activity android:name="com.eltrend.american.level5U3Audios" />
        <activity android:name="com.eltrend.american.level5U2Audios" />
        <activity android:name="com.eltrend.american.level5U1Audios" />
        <activity android:name="com.eltrend.american.level4U16Audios" />
        <activity android:name="com.eltrend.american.level4U15Audios" />
        <activity android:name="com.eltrend.american.level4U14Audios" />
        <activity android:name="com.eltrend.american.level4U13Audios" />
        <activity android:name="com.eltrend.american.level3U12Audios" />
        <activity android:name="com.eltrend.american.level3U11Audios" />
        <activity android:name="com.eltrend.american.level3U10Audios" />
        <activity android:name="com.eltrend.american.level3U9Audios" />
        <activity android:name="com.eltrend.american.level2U8Audios" />
        <activity android:name="com.eltrend.american.level2U7Audios" />
        <activity android:name="com.eltrend.american.level2U6Audios" />
        <activity android:name="com.eltrend.american.level2U5Audios" />
        <activity android:name="com.eltrend.american.level1U3Audios" />
        <activity android:name="com.eltrend.american.level1U2Audios" />
        <activity android:name="com.eltrend.american.level1U1Audios" />
        <activity android:name="com.eltrend.american.Level16Exam" />
        <activity android:name="com.eltrend.american.Level15Exam" />
        <activity android:name="com.eltrend.american.Level14Exam" />
        <activity android:name="com.eltrend.american.Level13Exam" />
        <activity android:name="com.eltrend.american.Level12Exam" />
        <activity android:name="com.eltrend.american.Level11Exam" />
        <activity android:name="com.eltrend.american.Level10Exam" />
        <activity android:name="com.eltrend.american.Level9Exam" />
        <activity android:name="com.eltrend.american.Level8Exam" />
        <activity android:name="com.eltrend.american.Level7Exam" />
        <activity android:name="com.eltrend.american.Level6Exam" />
        <activity android:name="com.eltrend.american.Level5Exam" />
        <activity android:name="com.eltrend.american.Level4Exam" />
        <activity android:name="com.eltrend.american.Level3Exam" />
        <activity android:name="com.eltrend.american.Level2Exam" />
        <activity android:name="com.eltrend.american.Level1Exam" />
        <activity android:name="com.eltrend.american.Level16Url" />
        <activity android:name="com.eltrend.american.Level15Url" />
        <activity android:name="com.eltrend.american.Level14Url" />
        <activity android:name="com.eltrend.american.Level13Url" />
        <activity android:name="com.eltrend.american.Level12Url" />
        <activity android:name="com.eltrend.american.Level11Url" />
        <activity android:name="com.eltrend.american.Level10Url" />
        <activity android:name="com.eltrend.american.Level9Url" />
        <activity android:name="com.eltrend.american.Level8Url" />
        <activity android:name="com.eltrend.american.Level7Url" />
        <activity android:name="com.eltrend.american.Level6Url" />
        <activity android:name="com.eltrend.american.Level5Url" />
        <activity android:name="com.eltrend.american.Level4Url" />
        <activity android:name="com.eltrend.american.Level3Url" />
        <activity android:name="com.eltrend.american.Level2Url" />
        <activity android:name="com.eltrend.american.Level1Url" />
        <activity android:name="com.eltrend.american.Level16Videos" />
        <activity android:name="com.eltrend.american.Level15Videos" />
        <activity android:name="com.eltrend.american.Level14Videos" />
        <activity android:name="com.eltrend.american.Level13Videos" />
        <activity android:name="com.eltrend.american.Level12Videos" />
        <activity android:name="com.eltrend.american.Level11Videos" />
        <activity android:name="com.eltrend.american.Level10Videos" />
        <activity android:name="com.eltrend.american.Level9Videos" />
        <activity android:name="com.eltrend.american.Level8Videos" />
        <activity android:name="com.eltrend.american.Level7Videos" />
        <activity android:name="com.eltrend.american.Level6Videos" />
        <activity android:name="com.eltrend.american.Level5Videos" />
        <activity android:name="com.eltrend.american.Level4Videos" />
        <activity android:name="com.eltrend.american.Level3Videos" />
        <activity android:name="com.eltrend.american.Level2Videos" />
        <activity android:name="com.eltrend.american.Level1Videos" />
        <activity android:name="com.eltrend.american.Level16Audio" />
        <activity android:name="com.eltrend.american.Level15Audio" />
        <activity android:name="com.eltrend.american.Level14Audio" />
        <activity android:name="com.eltrend.american.Level13Audio" />
        <activity android:name="com.eltrend.american.Level12Audio" />
        <activity android:name="com.eltrend.american.Level11Audio" />
        <activity android:name="com.eltrend.american.Level10Audio" />
        <activity android:name="com.eltrend.american.Level9Audio" />
        <activity android:name="com.eltrend.american.Level8Audio" />
        <activity android:name="com.eltrend.american.Level7Audio" />
        <activity android:name="com.eltrend.american.Level6Audio" />
        <activity android:name="com.eltrend.american.Level5Audio" />
        <activity android:name="com.eltrend.american.Level4Audio" />
        <activity android:name="com.eltrend.american.Level3Audio" />
        <activity android:name="com.eltrend.american.Level2Audio" />
        <activity android:name="com.eltrend.american.Level1Audio" />
        <activity android:name="com.eltrend.american.Level16Books" />
        <activity android:name="com.eltrend.american.Level15Books" />
        <activity android:name="com.eltrend.american.Level14Books" />
        <activity android:name="com.eltrend.american.Level13Books" />
        <activity android:name="com.eltrend.american.Level12Books" />
        <activity android:name="com.eltrend.american.Level11Books" />
        <activity android:name="com.eltrend.american.Level10Books" />
        <activity android:name="com.eltrend.american.Level9Books" />
        <activity android:name="com.eltrend.american.Level8Books" />
        <activity android:name="com.eltrend.american.Level7Books" />
        <activity android:name="com.eltrend.american.Level6Books" />
        <activity android:name="com.eltrend.american.Level5Books" />
        <activity android:name="com.eltrend.american.Level4Books" />
        <activity android:name="com.eltrend.american.Level3Books" />
        <activity android:name="com.eltrend.american.Level2Books" />
        <activity android:name="com.eltrend.american.Level1Books" />
        <activity android:name="com.eltrend.american.Level16" />
        <activity android:name="com.eltrend.american.Level15" />
        <activity android:name="com.eltrend.american.Level14" />
        <activity android:name="com.eltrend.american.Level13" />
        <activity android:name="com.eltrend.american.Level12" />
        <activity android:name="com.eltrend.american.Level11" />
        <activity android:name="com.eltrend.american.Level10" />
        <activity android:name="com.eltrend.american.Level9" />
        <activity android:name="com.eltrend.american.Level8" />
        <activity android:name="com.eltrend.american.Level7" />
        <activity android:name="com.eltrend.american.Level6" />
        <activity android:name="com.eltrend.american.Level5" />
        <activity android:name="com.eltrend.american.Level4" />
        <activity android:name="com.eltrend.american.Level3" />
        <activity android:name="com.eltrend.american.Level2" />
        <activity android:name="com.eltrend.american.Level1" />
        <activity android:name="com.eltrend.american.contactusActivity" />
        <activity android:name="com.eltrend.american.MoreApps" />
        <activity android:name="com.eltrend.american.EasyEnglish" />
        <activity android:name="com.eltrend.american.HowToUseTheApp" />
        <activity android:name="com.eltrend.american.placementestActivity" />
        <activity android:name="com.eltrend.american.Main2Activity" />
        <activity
            android:name="com.eltrend.american.MainActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6572711285388576~9413494046" />
    </application>

</manifest>